doctype html
html
  head
    title Food App
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scala=1')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    style.
      html,body{
        background-color: #67c9cc;
        margin: 0;
      }
      .loginbox{
        text-align: center;
        width: 30%;
        margin: auto;
        margin-top: 70px;
        padding: 30px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
      .auth-input{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 10px;
        width: 100%;
        outline: none;
        padding: 4px 6px;
        font-size: 14px;
      }
      .auth-btn{
        margin-top: 10px;
        width: 100%;
        outline: none;
        padding: 8px 12px;
        vertical-align: middle;
        color: white;
        border: 1px solid #67c9cc;
        background-color: #67c9cc;
        font-size: 14px;
        transition: 0.7s;
        cursor: pointer;
      }
      .auth-btn:hover{
        border: 1px solid #67c900;
        background-color: #67c900;
      }
      .avatar{
        width: 100px;
        height: 100px;
        margin: auto;
      }
      @media screen and (max-width: 1000px){
        .loginbox{
          width: 45%;
        }
      }
      @media screen and (max-width: 700px){
        .loginbox{
          width: 60%;
        }
      }
  body
    if !login
      div(class='loginbox')
        if name!=''
          div(class='alert alert-danger') User already exists
        div(style='display: flex;width: 100%; flex-direction: column')
          img(class='avatar', src='img/potrait.png')
          form(method='POST')
            input(type='text', class='auth-input',placeholder='Name', name='name', value=name)
            input(type='text', class='auth-input',placeholder='Roll No.', name='rollno')
            input(type='password', class='auth-input',placeholder='Password', name='password')
            button(class='auth-btn', style='float: left; margin-right: 5px') Sign Up
          a(href='/login', style='margin-top: 10px; text-decoration: underline; color: #67c9cc') have an account? - log in
    else
      div(class='loginbox')
        div(style='display: flex;width: 100%; flex-direction: column')
          img(class='avatar', src='img/potrait.png')
          form(method='POST')
            input(type='text', class='auth-input',placeholder='Roll No.', name='rollno')
            input(type='password', class='auth-input',placeholder='Password', name='password')
            button(class='auth-btn', style='float: left; margin-right: 5px') Log In
          a(href='/signup', style='margin-top: 10px; text-decoration: underline; color: #67c9cc') new to food app - sign up now
      
