html
    head
        title Make Group
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        if !unique
            div(class='alert alert-danger') Group with this name alerady exists
        div(class='jumbotron', style='margin:10px')
            div(class='container-fluid text-center', style='margin: 10px')
                h3 Make New Group
                h4:small Please note that a group will be activated only if it  has at least 5 members.
            form(method='POST',action='../formgroup',style='margin:10px')
                input(type='text', name='grpid', class='form-control',placeholder='new group unique name',required)
                input(type='submit', value='Make New Group' ,class='btn btn-default form-control',style='color: white;background-color: black;margin-top: 8px')
